.hero-bg {
  background-image: url("../../../public/Hero\ Blocks.png");
  background-size: cover;
  background-position: center;
}
.joinClub-bg {
  background-image: url("../../../public/joinBenefits.png");
  background-size: cover;
  background-position: center;
}