@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.headline-one {
  @apply text-[36px] leading-[150%] font-custom-abeezee;
}

.headline-two {
  @apply text-[32px] leading-[150%] font-custom-abeezee;
}

.headline-three {
  @apply text-[24px] leading-[150%] font-custom-abeezee;
}

.headline-four {
  @apply text-[20px] leading-[150%] font-custom-abeezee;
}

.headline-five {
  @apply text-[16px] leading-[150%] font-custom-abeezee;
}

.headline-six {
  @apply text-[14px] leading-[150%] font-custom-abeezee;
}

.body-small {
  @apply text-[14px] font-extralight leading-[150%];
}

.body-medium {
  @apply text-[16px] leading-[150%] font-light;
}

.body-large {
  @apply text-[18px] leading-[150%];
}

.test {
  @apply border-[1px] border-red-500;
}